body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*<style type="text/css" >
.@Html.ActionLink {
    font-size: 10px;
    font-family: Verdana,Helvetica;
    font-weight: bold;
    color: white;
    background: #638cb5;
    border: 0px;
    width: 80px;
    height: 19px;
}*/

.txtbox {
    width: 100px;
    height: 75px;
    background-color: #F0F0F0;
    border: 1px solid black;
}

@Html.TextBox(“txtName”,””, new{@class = “txtbox”})

